{% extends "news/base.html" %}

{% block title %}Lista postów{% endblock %}

{% block content %}
<h1>Lista postów.</h1>
    {% for post in posts %}
        <ul>
            <li>
                <b>{{ post.title }}</b><br />
                    {{ post.published }}
                <details>
                    <i>{{ post.content|truncatechars:100|linebreaks }}</i>
                </details>
            </li>
        </ul>
    {% endfor %}
    {% include "news/pagination.html" with page=page_obj %}
{% endblock %}

